{% extends 'base.html.twig' %}
{% block title %}Ajout Artiste - Back-office{% endblock %}
{% block body %}
    {{ include('sidebar/top.html.twig', {listItem: 8}) }}
    <style>

    </style>
    {{ include('page_title.html.twig', {title: "Ajout d'un artiste"}) }}
    <div class="main px-5 mt-5">
        {{ form_start(artistAddForm) }}
        {{ form_row(artistAddForm.name) }}
        {{ form_row(artistAddForm.description) }}
        {{ form_row(artistAddForm.group) }}
        {{ form_row(artistAddForm.genre) }}
        {{ form_row(artistAddForm.picture) }}
        <button type="submit" class="btn btn-success float-right">Valider</button>
        {{ form_end(artistAddForm) }}
    </div>
    {% include 'sidebar/bottom.html.twig' %}
{% endblock %}