{% extends 'base.html.twig' %}
{% block title %}Modification Marqueur Carte - Back-office{% endblock %}
{% block body %}
    {{ include('sidebar/top.html.twig', {listItem: 8}) }}
    <style>

    </style>
    {{ include('page_title.html.twig', {title: "Modification d'un marqueur carte"}) }}
    <div class="main px-5 mt-5">
        {{ form_start(mapMarkerEditForm) }}
        {{ form_row(mapMarkerEditForm.type) }}
        {{ form_row(mapMarkerEditForm.name) }}
        {{ form_row(mapMarkerEditForm.description) }}
        {{ form_row(mapMarkerEditForm.location) }}
        <button type="submit" class="btn btn-success float-right">Valider</button>
        {{ form_end(mapMarkerEditForm) }}
    </div>
    {% include 'sidebar/bottom.html.twig' %}
{% endblock %}