{% extends 'base.html.twig' %}
{% block title %}Ajout d'une Scène - Back-office{% endblock %}
{% block body %}
    {{ include('sidebar/top.html.twig', {listItem: 8}) }}
    <style>

    </style>
    {{ include('page_title.html.twig', {title: "Ajout d'une scène"}) }}
    <div class="main px-5 mt-5">
        {{ form_start(stageAddForm) }}
        {{ form_row(stageAddForm.name) }}
        {{ form_row(stageAddForm.location) }}
        <button type="submit" class="btn btn-success float-right">Valider</button>
        {{ form_end(stageAddForm) }}
    </div>
    {% include 'sidebar/bottom.html.twig' %}
{% endblock %}