{% extends 'base.html.twig' %}
{% block title %}Scènes - Back-office{% endblock %}
{% block body %}
    {{ include('sidebar/top.html.twig', {listItem: 9}) }}
    <style>
        .main .tableInfo {font-weight: 400; font-size: 14px; line-height: 35px;}
        .main .tableOptions .tableEdit {color: #6bbce3;}
        .main .tableOptions .tableDelete {color : #df6671;}
        .main .tableAdd .btn {background-color: #5bd768; color: #FFF;}
        .main .tableAdd:hover .btn {background-color: #279136; transition: all 0.2s ease-in-out;}
        .main .table {
            box-shadow: 0 1px 4px 1px rgba(0,0,0,0.14);
            border-radius: 5px;
            font-family: Roboto,Helvetica,Arial,sans-serif;
            color: rgb(51,51,51);
        }
        .main .tableRow img {width: 25%}
        .main .table tbody {background-color: white; font-size: 14px;}
        .main .table th {padding: 12px 8px; border-color: #ddd;}
        .main .table td {vertical-align: middle;}
        .main .table thead {color: #fff; background-color: #c677d9;}

    </style>
    {{ include('page_title.html.twig', {title: 'Scènes'}) }}
    <div class="main px-5 mt-5">
        <div class="d-flex justify-content-between">
            <div class="text-muted tableInfo">Liste des scènes (survoler pour révéler les options)</div>
            <div class="d-flex justify-content-between mb-1 tableAdd">
                <a href="{{ path('app_stages_add') }}" class="btn p-1" title="Ajouter une scène"><i class="fas fa-edit"></i>Ajouter une scène</a>
            </div>
        </div>
        <table class="table text-center">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Emplacement</th>
                <th class="tableOptionsCol" style="width: 50px;"></th>
            </tr>
            </thead>
            <tbody>
            {% for stage in stages %}
                <tr class="tableRow">
                    <td>{{ stage.name }}</td>
                    <td>{{ stage.location }}</td>
                    <td class="tableOptions p-0 invisible">
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_stages_edit') ~ '/' ~ stage.id }}" class="nav-link p-3 mr-1 tableEdit" title="Éditer"><i class="fas fa-edit fa-lg"></i></a>
                            <a href="{{ path('app_stages_delete') ~ '/' ~ stage.id }}" class="nav-link p-3 ml-1 tableDelete" title="Supprimer"><i class="fas fa-trash-alt fa-lg"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'sidebar/bottom.html.twig' %}
{% endblock %}
